/__pycache__/*
/excel/__pycache__/*
/database/__pycache__/*
*.db
config.py
*.txt
*.xlsx
*.xls
testing/*
/documents/*
/excel/__pycache__/*
.idea/misc.xml
.idea/modules.xml
.idea/nupp_bot.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
