/__pycache__/*
/excel/__pycache__/*
/database/__pycache__/*
/documents/excel_file.xlsx
*.db
config.py
*.txt
*.xlsx
*.xls
testing/test_db.py
test_lessons.py
telegram_bot.db
/documents/*
/documents/
documents/
/documents
documents
excel/__pycache__/*
